.detailsContainer {
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding: 25px;
  justify-content: center;
  align-items: center;
}
 
.imageContainer {
  height: 100%;
  width: 15rem;
   padding:  20px ; 
   margin-right: 3rem;

 
}
.imageContainer img {
  width: 100%;
  height: 400px;
}

.detailsContent {
  width: 500px;
  border: 2px solid #ccc;
  padding: 4.5rem;
  border-style: dotted;
  background: #1985A1;
  color: #fff;

}
.detailsContent p {
  margin-top: 10px;
}
.detailsContent p span{
  font-weight: 700;
  color: #333;
}
.detailsContent button{
  font-family: 'Poppins', sans-serif;

  padding: 10px;
  background: #09BC8A;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;

}
.detailsContent button:hover{
  background:#E88873 ;
  transition: 0.5s;
}

@media only screen and (max-width:676px){
  .detailsContainer{
    flex-direction: column;
  }
  .imageContainer{
    margin: initial;
  }
}